{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ "resources" | trans({}, "platform") | striptags | raw }}{% endblock %}

{% block bodyClasses %}{{ parent() }} body-resource-manager{% endblock %}

{% block breadcrumb %}
    {{
        macros.workspaceBreadcrumbs(
            workspace,
            [
                {
                    'name': 'resources'|trans({}, 'platform'),
                    'href': ''
                }
            ]
        )
    }}
{% endblock %}
{% block section_content %}
        {% if app.user.getPersonalWorkspace().getId() != workspace.getId() %}
            <div class="col-xs-3 col-md-3">
                {# MOOC  WIDGET #}
                {% render controller(
                    'OrangeThemeBundle:Solerni:getWorkspacePresentationWidget',
                    { 'workspaceId': workspace.getId(), 'renderProgression': false  }
                ) %}
            </div>
         {% else %}
            {# OR PROFILE WIDGET #}
            {% render controller(
                'OrangeThemeBundle:Solerni:getDesktopAsideBlockWidget',
                { 'renderingContext': 'my_library' }
            ) %}       
         {% endif %}
    </div>
    <div class="col-xs-9 col-md-9 slrn-resource-manager-main">
        <div id="data-attributes" data-max-post-size="{{ maxPostSize }}"></div>
        <div class="panel-heading">
            <h3 class="panel-title slrn-panel-title">
                {% if app.user.getPersonalWorkspace().getId() == workspace.getId() %}
                    {{ 'my_library' | trans({}, 'platform') }}
                {% else %}
                    {{ 'mooc_resources' | trans({}, 'platform') }}
                {% endif %}    
                <span></span>
            </h3>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            Claroline.ResourceManager.initialize({
                "directoryId": {{ directoryId }},
                "directoryHistory": {{ jsonPath|raw }},
                "parentElement": $('.slrn-resource-manager-main'),
                "isPickerMultiSelectAllowed": true,
                "isWorkspace": true,
                "appPath": "{{ app.request.getBaseUrl() }}",
                "webPath": "{{ asset('') }}",
                "language": "{{ app.request.locale }}",
                "resourceZoom": "{{ resourceZoom }}",
                "resourceTypes": {
                    {% for resourceType in resourceTypes %}
                        "{{ resourceType.getName() }}": {
                            "name": "{{ resourceType.getName()|trans({}, 'resource') }}",
                            "actions": {
                                {% for action in resourceType.getActions() %}
                                    "{{ action.getName() }}": {
                                        "name": "{{ action.getName() }}",
                                        "route": "{{ path('claro_resource_action', {'resourceType': resourceType.getName(), 'action': action.getName(), 'node': '_nodeId' }) }}",
                                        "async": {% if action.isAsync() %} 1 {% else %} 0 {% endif %},
                                        "mask": {{ action.getValue() }},
                                        "isCustom": {% if action.isCustom() %} "yes" {% else %} "no" {% endif %},
                                        "isForm": {% if action.isForm() %} true {% else %} false {% endif %}
                                    }
                                    {% if loop.last != true %},{% endif %}
                                {% endfor %}
                            }
                        }
                        {% if loop.last != true %},{% endif %}
                    {% endfor %}
                }
            });
        });
    </script>

    <script type="text/javascript">
        var FileAPI = { debug: false, pingUrl: false }
    </script>
    <script type="text/javascript" src='{{ asset('bundles/frontend/FileAPI/FileAPI.min.js') }}'></script>
    <script type="text/javascript" src='{{ asset('bundles/frontend/FileAPI/FileAPI.exif.js') }}'></script>
    <script type="text/javascript" src='{{ asset('bundles/clarolinecore/js/resource/dragndrop.js') }}'></script>
{% endblock %}
